<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application for Adjournment</title>
    <style>
        body { font-family: "Times New Roman", Times, serif; margin: 40px; line-height: 1.6; }
        .center { text-align: center; font-weight: bold; }
        .justify { text-align: justify; }
        .right { text-align: right; }
        .indent { margin-left: 40px; }
    </style>
</head>
<body>

<div class="center">
    IN THE COURT OF THE DISTRICT MUNSIF AT MADURAI<br><br>
    I.A. No. ______ of {{ current_year }}<br>
    In<br>
    {{ case_id }}
</div>

<p>
    <b>BETWEEN:</b><br><br>
    {{ petitioner_name }} ........................................ Petitioner
</p>
<p class="center">AND</p>
<p>
    {{ respondent_name }} ...................................... Respondent
</p>

<p class="center"><u>APPLICATION U/O XVII RULE 1 OF CPC PRAYING FOR ADJOURNMENT</u></p>

<p class="justify">
    The Applicant respectfully states as follows:
</p>
<p class="justify indent">
    1. That the above matter is posted today for hearing.
</p>
<p class="justify indent">
    2. That the Advocate for the Petitioner is unable to appear today before this Hon'ble Court because {{ reason_for_adjournment }}.
</p>
<p class="justify indent">
    3. That the absence is bona fide and not intentional. No prejudice will be caused to the other side if a short accommodation is granted.
</p>
<p class="justify">
    <b>PRAYER:</b><br>
    It is therefore prayed that this Hon'ble Court may be pleased to adjourn the matter to any other date in the interest of justice and equity.
</p>

<br><br>
<div class="right">
    Date: {{ current_date }}<br>
    Place: Madurai<br><br>
    <b>Advocate for Petitioner</b>
</div>

</body>
</html>
